@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");

:root {
  --yellow: #f5ca56;
  --black: #000410;
  --text-color: #777777;
  --font1: "Rajdhani", sans-serif;
  --font2: "Roboto", sans-serif;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: relative;
  background-color: #f8f9fa;
}

.links-container {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  max-width: 35%;
  background-color: #f9f9ff;
  opacity: 0.95;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.4s ease-in-out;
  z-index: 101;
}

.links-container.open {
  right: 0;
}

.links-container a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-family: var(--font2);
  font-weight: 700;
}

.menu-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 102;
}

.close-icon {
  display: none;
  fill: #000;
}

.links-container.open .close-icon {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: relative;
  left: 1rem;
  z-index: 1;
  background-color: #fff;
  flex-direction: column;
  padding-left: 1rem;
}

.dropdown-content .dropdown-content {
  position: relative;
  left: 2rem;
}

.show {
  display: flex;
}

a.toggle-dropdown {
  cursor: pointer;
}
